*.class

.project
.classpath
.settings/*
.idea/*
*.iml
*.iws

.DS_Store

# Package Files #
*.jar
*.war
*.ear
*.zip
*.rpm
*.deb
*.tgz
*.gz
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target
/target/
**/target/
/build/
/~/
/logs/
logs/

.factorypath
